AnimalsWiki/AnimalsWiki/AnimalsWiki.csproj
AnimalsWiki/.vs/AnimalsWiki/v16/.suo
AnimalsWiki/AnimalsWiki.sln
AnimalsWiki/AnimalsWiki/AnimalsWiki.csproj.user
AnimalsWiki/AnimalsWiki/App.xaml
AnimalsWiki/AnimalsWiki/App.xaml.cs
AnimalsWiki/AnimalsWiki/AssemblyInfo.cs
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.deps.json
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.dll
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.exe
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.pdb
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.runtimeconfig.dev.json
AnimalsWiki/AnimalsWiki/bin/Debug/netcoreapp3.1/AnimalsWiki.runtimeconfig.json
AnimalsWiki/AnimalsWiki/obj/AnimalsWiki.csproj.nuget.dgspec.json
AnimalsWiki/AnimalsWiki/obj/AnimalsWiki.csproj.nuget.g.props
AnimalsWiki/AnimalsWiki/obj/AnimalsWiki.csproj.nuget.g.targets
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.AssemblyInfoInputs.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.AssemblyInfo.cs
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.assets.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.csproj.CoreCompileInputs.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.csproj.FileListAbsolute.txt
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.csprojAssemblyReference.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.designer.deps.json
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.designer.runtimeconfig.json
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.dll
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.exe
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.g.resources
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.genruntimeconfig.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki.pdb
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki_MarkupCompile.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki_MarkupCompile.i.cache
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/AnimalsWiki_MarkupCompile.lref
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/App.g.cs
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/App.g.i.cs
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/MainWindow.baml
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/MainWindow.g.cs
AnimalsWiki/AnimalsWiki/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
AnimalsWiki/AnimalsWiki/obj/project.assets.json
AnimalsWiki/AnimalsWiki/obj/project.nuget.cache